<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="robots" content="index, follow"/>
    <link rel=sitemap type=application/xml title=Sitemap href=https://samirpaul1.github.io/system-design-primer/sitemap.xml>
    <meta name="p:domain_verify" content="24bac6e1fbf1750de40d59bb788d9dd9"/>
    <meta name="p:domain_verify" content="24bac6e1fbf1750de40d59bb788d9dd9"/>
    <meta name="msvalidate.01" content="1A92FC2EC113F8616A21D76DA684A133" />
    <meta name="yandex-verification" content="fe6a06c57be84984" />
    <meta name="yandex-verification" content="39e29790ebc96010" />
    <meta name="facebook-domain-verification" content="3pkgruuk3kzlsn3jdfehgbd4sem1qb" />
    <meta name="google-site-verification" content="tTMVzrqoAcZ0jIPOokXcTMAEaj5XHbk2aQcAFyjAtf0" />
    <meta name="google-site-verification" content="uziThFIJ1huzKLCKv-DChPbWZTRRFqmmdA6pcA-dqzs" />
    <meta name="google-site-verification" content="fVqw6aziPBBMvC50fkQ3A6y38AhIfhUhfDyIzqqdGTs" />
    <meta name="google-site-verification" content="0xx-nlxp3UCpu_YITeTuMA4ld0Jup5hg69j-QNot0aU" />
    <meta name="google-site-verification" content="YZkjOzwrUSuP4dJNNznzDnp1oGqYsVN9KuQPaZ9Q61o" />
    <meta name="norton-safeweb-site-verification" content="2xno70lnqo1ajcykeat10qud6lat0xlkc2bskxz0k9ma74g0bn-kprra5ev6bwui2s6-2394l0ryopjet7yt3hs8tokilug2cfhocw3r0nlj2t1xx690tgu82t59wtwi" />
    <link rel=alternate type=application/rss+xml href=https://samirpaul1.github.io/system-design-primer/feed.xml>
    <link rel=manifest href=https://samirpaul1.github.io/system-design/manifest.json>
    
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin="use-credentials">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CP4QE6ZEV0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CP4QE6ZEV0');
</script>
    
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      
      <footer class="site-footer">
        <img style="width:100%;" id="image" src="https://samirpaulb.github.io/assets/long-banner-breck-img-readme-unnamed.png" alt="breck-img" >
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">This webpage</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits"><b><a href="https://samirpaul1.github.io/system-design-primer/sitemap.xml">Sitemap</a> • <a href="https://samirpaul1.github.io/posts">Blog</a> • <a href="https://www.linkedin.com/in/SamirPaul">LinkedIn</a> • <a href="https://github.com/SamirPaul1">GitHub</a></b></span>
      </footer>
    </main>
  </body>
</html>
